<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:brewer="http://www.brewer.org"
        layout:decorate="~{layout/LayoutPadrao}">
<head>
    <title>Cadatro de Cervejas</title>
    <link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>

<body>

    <section layout:fragment="conteudo" class="aw-layout-content js-content">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-10">
                        <h1 th:if="${cerveja.nova}">Cadastro de Cervejas</h1>
                        <h1 th:unless="${cerveja.nova}" th:text="|Edição da ${cerveja.nome}|">Edição de Cervejas</h1>
                    </div>

                    <div class="col-xs-2">
                        <div class="aw-page-header-controls">
                            <a class="btn btn-default" th:href="@{/cervejas}">
                                <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Pesquisa Cervejas</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <form method="POST"
                  th:action="${cerveja.nova} ? @{/cervejas/nova} : @{/cervejas/{codigo}(codigo=${cerveja.codigo})}"
                  th:object="${cerveja}" class="form-vertical  js-form-loading">

                <brewer:messages/>

                <input type="hidden" th:field="*{codigo}"/>


                <div class="row">
                    <div class="form-group col-sm-2 bw-required" brewer:classforerror="sku">
                        <label class="control-label" for="sku">SKU</label>
                        <input id="sku" type="text" th:field="*{sku}" class="form-control" autofocus="autofocus"/>
                    </div>

                    <div class="form-group col-sm-10 bw-required" brewer:classforerror="nome">
                        <label class="control-label" for="nome">Nome</label>
                        <input id="nome" type="text" th:field="*{nome}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group bw-required" brewer:classforerror="descricao">
                    <label class="control-label" for="descricao">Descrição</label>
                    <textarea id="descricao" rows="3" th:field="*{descricao}" class="form-control"></textarea>
                </div>

                <div class="row">

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="estilo">
                        <label class="control-label" for="estilo">Estilo</label>
                        <div class="bw-field-action">
                            <select id="estilo" th:field="*{estilo}" class="form-control">
                                <option value="">Selecione</option>
                                <option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}"/>
                            </select>
                            <div class="bw-field-action__icon">
                                <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
                                    <i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="sabor">
                        <label class="control-label" for="sabor">Sabor</label>
                        <select id="sabor" class="form-control" th:field="*{sabor}">
                            <option value="">Selecione</option>
                            <option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"/>
                        </select>
                    </div>

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="teorAlcoolico">
                        <label class="control-label" for="teorAlcoolico">Teor Alcoólico</label>
                        <div class="input-group">
                            <input id="teorAlcoolico" type="text" th:field="*{teorAlcoolico}" class="form-control js-decimal"/>
                            <div class="input-group-addon">%</div>
                        </div>
                    </div>

                    <div class="form-group col-lg-3 col-sm-6 bw-required" brewer:classforerror="origem">
                        <label class="control-label" >Origem</label>
                        <div>
                            <th:block th:each="origem : ${origens}">
                                <div class="radio radio-inline">
                                    <input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}" name="origem"/>
                                    <label th:for="|id_${origem}|" th:text="${origem.descricao}"/>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="valor">
                        <label class="control-label" for="valor">Valor</label>
                        <div class="input-group">
                            <input id="valor" type="text" th:field="*{valor}" class="form-control js-decimal"/>
                            <div class="input-group-addon">R$</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="comissao">
                        <label class="control-label" for="comissao">Comissão</label>
                        <div class="input-group">
                            <input id="comissao" type="text" th:field="*{comissao}" class="form-control js-decimal"/>
                            <div class="input-group-addon">%</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-3 bw-required" brewer:classforerror="quantidadeEstoque">
                        <label class="control-label" for="estoque">Estoque</label>
                        <div class="input-group">
                            <input id="estoque" type="text" th:field="*{quantidadeEstoque}" class="form-control js-integer"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label class="control-label">Foto</label>

                        <input type="hidden" th:field="*{foto}"/>
                        <input type="hidden" th:field="*{contentType}"/>
                        <input type="hidden" th:field="*{novaFoto}">

                        <div class="js-container-foto-cerveja" th:attr="data-url-fotos=@{/fotos/upload}">
                            <div id="upload-drop" class="bw-upload">
                                <i class="glyphicon  glyphicon-cloud-upload"></i>
                                <span>Arraste a foto aqui ou </span>
                                <a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn  btn-primary" type="submit">Salvar</button>
                 </div>

            </form>
        </div>

        <div th:replace="estilo/CadastroRapidoEstiloModal :: modal"></div>
        <div th:replace="hbs/FotoCerveja"></div>

    </section>

    <th:block layout:fragment="javascript-extra">
        <script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>
        <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
        <script th:src="@{/javascripts/vendors/upload.min.js}"></script>
        <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
        <script th:src="@{/javascripts/cerveja.upload-foto.js}"></script>

    </th:block>

</body>
</html>