<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:brewer="http://www.brewer.org"
        xmlns:data="http://www.thymeleaf.org/extras/data"
        xmlns="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout/LayoutPadrao}">
<head>
    <title>Pesquisa de Cervejas</title>
</head>

<body>

    <section layout:fragment="conteudo">

        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>
                            Pesquisa de Cervejas
                        </h1>
                    </div>

                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn btn-default" th:href="@{/cervejas/nova}">
                                <i class="glyphicon glyphicon-plus-sign"></i> <span class="hidden-xs hidden-sm">Nova Cerveja</span>
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid">

                        <form method="GET" th:object="${cervejaFilter}">

                            <div class="row">

                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="sku">SKU</label>
                                    <input id="sku" type="text" class="form-control" autofocus="autofocus" th:field="*{sku}">
                                </div>

                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="nome">Nome</label>
                                    <input id="nome" type="text" class="form-control" th:field="*{nome}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="estilos">Estilos</label>
                                    <select id="estilos" class="form-control" th:field="*{estilo}">
                                        <option value="">Todos os estilos</option>
                                        <option th:each="estilo: ${estilos}" th:text="${estilo.nome}" th:value="${estilo.codigo}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label" for="sabores">Sabores</label>
                                    <select id="sabores" class="form-control" th:field="*{sabor}">
                                        <option value="">Todos os sabores</option>
                                        <option th:each="sabor: ${sabores}" th:text="${sabor.descricao}" th:value="${sabor}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Origem</label>
                                    <th:block th:each="origem :${origens}">
                                        <div class="radio radio-inline">
                                            <input id="|id_${origem}|" name="origem" type="radio" th:value="${origem}" th:field="*{origem}"/>
                                            <label th:for="|id_${origem}|" th:text="${origem.descricao}"></label>
                                        </div>
                                    </th:block>
                                    <div class="radio radio-inline">
                                        <input id="todasOrigens" name="origem" type="radio" th:checked="${origem == null}"/>
                                        <label for="todasOrigens">Todas Origens</label>
                                    </div>
                                </div>

                                <div class="col-sm-6  form-group">
                                    <label for="valorDe">Valor unitário</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorDe" th:field="*{valorDe}"/>
                                        <label for="valorAte" class="aw-form-label-between">até</label>
                                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorAte" th:field="*{valorAte}"/>
                                    </div>
                                </div>

                                <button type="submit" class="btn  btn-primary">Pesquisar</button>

                            </div>
                        </form>

                        <div class="table-responsive bw-tablela-simples">

                            <table class="table table-hover">
                                <thead>
                                    <th class="table-cervejas-col-foto"></th>
                                    <th class="table-cervejas-col-sku">
                                        <!--<th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'sku', 'SKU')"></th:block>-->
                                        <brewer:order page="${pagina}" field="sku" text="SKU"/>
                                    </th>
                                    <th class="table-cervejas-col-nome">
                                        <brewer:order page="${pagina}" field="nome" text="Nome"/>
                                    </th>
                                    <th class="table-cervejas-col-estilo">Estilo</th>
                                    <th class="table-cervejas-col-origem">Origem</th>
                                    <th class="table-cervejas-col-valor">Valor</th>
                                    <th class="table-cervejas-col-acoes"></th>
                                </thead>

                                <tbody>
                                    <tr th:each="cerveja : ${pagina.content}">
                                        <td class="text-center">
                                            <img th:src="@{/fotos/download/thumbnail.{name}(name=${cerveja.fotoOuMock})}" class="img-responsive">
                                        </td>
                                        <td th:text="${cerveja.sku}" class="text-center"></td>
                                        <td th:text="${cerveja.nome}"></td>
                                        <td th:text="${cerveja.estilo.nome}"></td>
                                        <td th:text="${cerveja.origem.descricao}"></td>
                                        <td class="text-right" th:text="|R$ ${cerveja.valor}|"></td>
                                        <td class="text-center">
                                            <a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" th:href="@{/cervejas/{codigo}(codigo=${cerveja.codigo})}">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#"
                                               data:url="@{/cervejas/{codigo}(codigo=${cerveja.codigo})}"
                                               data:objeto="${cerveja.nome}">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr th:if="${pagina.empty}">
                                        <td colspan="7">Nenhuma cerveja encontrada</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <brewer:pagination page="${pagina}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>