<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:brewer="http://brewer.algaworks.com"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Pesquisa de usuários</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de usuários</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/usuarios/novo}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="GET" th:object="${usuarioFilter}" th:action="@{/usuarios}">
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
                </div>

                <div class="form-group  col-sm-6">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-12">
                    <label class="control-label">Grupos</label>
                    <div>
                        <th:block th:each="grupo : ${grupos}">
                            <div class="checkbox  checkbox-inline">
                                <input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
                                <label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>

        <div class="aw-datatable-toolbar">
            <button class="btn btn-default  btn-xs  js-status-btn  disabled" data:status="ATIVAR" data:url="@{/usuarios/status}">
                <span>Ativar</span>
            </button>

            <button class="btn btn-default  btn-xs  js-status-btn  disabled" data:status="DESATIVAR" data:url="@{/usuarios/status}">
                <span>Desativar</span>
            </button>
        </div>

        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th class="table-usuarios-col-status">
                        <div class="checkbox  aw-checkbox-no-margin">
                            <input type="checkbox" class="js-selecao-todos"/>
                            <label></label>
                        </div>
                    </th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Grupo</th>
                    <th>Status</th>
                    <th class="table-col-acoes"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="usuario : ${pagina.content}">
                    <td>
                        <div class="checkbox  aw-checkbox-no-margin" th:if="${#authentication.principal.usuario.codigo != usuario.codigo}">
                            <input type="checkbox" class="js-selecao" data:codigo="${usuario.codigo}">
                            <label></label>
                        </div>
                    </td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td>
                        <span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span>
                    </td>
                    <td>
                        <th:block th:if="${usuario.ativo}">
                            <span class="label  label-success">Ativo</span>
                        </th:block>
                        <th:block th:if="${not usuario.ativo}">
                            <span class="label  label-danger">Inativo</span>
                        </th:block>
                    </td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/usuarios/{codigo}(codigo=${usuario.codigo})}"> 
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs" title="Excluir">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>

                <tr th:if="${pagina.empty}">
                    <td colspan="6">Nenhum usuário encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>

        <brewer:pagination page="${pagina}"/>
    </div>
</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/multiselecao.js}"></script>
</th:block>
</body>
</html>