<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="order (pagina, propriedade, texto)">
    <a th:href="${pagina.urlSorted(propriedade)}" th:remove="${pagina.empty} ? tag">
        <span th:text="${texto}"></span>
        <span class="dropup" th:remove="${pagina.isDesc(propriedade)} ? tag"
              th:if="${pagina.isSorted(propriedade)}"><span class="caret"></span>
        </span>
    </a>
</th:block>

</html>