<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination (pagina)">

    <!-- Pagination Bar -->
    <div class="col-sm-12  text-center" th:if="${not pagina.empty}">
        <nav>
            <ul class="pagination  pagination-sm">
                <li th:class="${pagina.first} ? disabled">
                    <a th:href="${pagina.urlToPage(1)}" th:remove="${pagina.first} ? tag"><span>First</span></a>
                </li>
                <li th:class="${not pagina.previous} ? disabled">
                    <a th:href="${pagina.urlToPage(pagina.number-1)}" th:remove="${not pagina.previous} ? tag"><span>&laquo;</span></a>
                </li>
                <li th:each="item : ${pagina.items}" th:class="${item.current} ? active">
                    <a th:href="${pagina.urlToPage(item.number)}">[[${item.number}]]</a>
                </li>
                <li th:class="${not pagina.next} ? disabled">
                    <a th:href="${pagina.urlToPage(pagina.number+1)}" th:remove="${not pagina.next} ? tag"><span>&raquo;</span></a>
                </li>
                <li th:class="${pagina.last} ? disabled">
                    <a th:href="${pagina.urlToPage(pagina.totalPages)}" th:remove="${pagina.last} ? tag"><span>Last</span></a>
                </li>
            </ul>
        </nav>
    </div>
</th:block>


</html>