<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:brewer="http://www.brewer.org"
      layout:decorate="~{layout/LayoutPadrao}">
<head>
    <title>Cadatro de Clientes</title>
</head>

<body>

<section layout:fragment="conteudo" class="aw-layout-content  js-content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Cadastro de cliente</h1>
                </div>

                <div class="col-sm-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/clientes}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <form method="POST" th:object="${cliente}" th:action="@{/clientes/novo}">

            <brewer:messages/>

            <div class="row">

                <div class="form-group col-sm-12 bw-required" brewer:classforerror="nome">
                    <label class="control-label" for="nome">Nome</label>
                    <input id="nome" type="text" class="form-control" autofocus="autofocus" th:field="*{nome}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4 bw-required" brewer:classforerror="tipoPessoa">
                    <label class="control-label"> Tipo pessoa</label>
                    <div>
                        <th:block th:each="tipoPessoa : ${tiposPessoa}">
                            <div class="radio  radio-inline" >
                                <input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa"
                                       th:field="*{tipoPessoa}" th:value="${tipoPessoa}"
                                       name="tipoPessoa" data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}">
                                <label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
                            </div>
                        </th:block>
                    </div>
                </div>
				
				<div class="form-group  col-sm-8 bw-required" brewer:classforerror="cpfOuCnpj">
					<label class="control-label" for="cpfOuCnpj">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" disabled/>
				</div>
			</div>

            <div class="row">
                <div class="form-group col-lg-4" brewer:classforerror="telefone">
                    <label class="control-label" for="telefone">Telefone</label>
                    <input id="telefone" type="text" class="form-control js-phone-number" th:field="*{telefone}"/>
                </div>
                <div class="form-group col-sm-8">
                    <label class="control-label" for="email">E-mail</label>
                    <input id="email" type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-4">
                    <label class="control-label" for="logradouro">Logradouro</label>
                    <input type="text" id="logradouro" class="form-control" th:field="*{endereco.logradouro}"/>
                </div>

                <div class="form-group  col-sm-4">
                    <label class="control-label" for="numero">Número</label>
                    <input type="text" id="numero" class="form-control" th:field="*{endereco.numero}"/>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label" for="complemento">Complemento</label>
                    <input type="text" id="complemento" class="form-control" th:field="*{endereco.complemento}">
                </div>

            </div>

            <div class="row">
                <div class="form-group  col-sm-4">
                    <label class="control-label" for="cep">CEP</label>
                    <input type="text" class="form-control  js-cep" id="cep" th:field="*{endereco.cep}"/>
                </div>

                <div class="form-group col-sm-4">
                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control" th:field="*{endereco.estado}">
                        <option value="">Selecione o estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">São Paulo</option>
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label class="control-label" for="cidade">Cidade</label>
                    <div class="bw-field-action">
                        <input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade?.codigo}"/>
                        <select id="cidade" class="form-control" data:url="@{/cidades}" th:field="*{endereco.cidade}">
                        </select>

                        <div class="bw-field-action__icon js-img-loading" style="display: none">
                            <img th:src="@{/images/mini-loading.gif}">
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>

        </form>
    </div>

</section>
    
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
    <script th:src="@{/javascripts/cliente.combo-estado-cidade.js}"></script>
</th:block>

</body>
</html>