<script id="foto-cerveja" type="text/x-handlebars-template">
    <div class="row  js-foto-cerveja">
        <div class="col-md-4"></div>
        <div class="col-md-4  text-center">
            <a href="#" class="thumbnail">
                <img th:src="@{/fotos/download/{{foto}}}"/>
            </a>
            <button type="button" class="btn  btn-link  js-remove-foto"><span class="glyphicon  glyphicon-remove"></span></button>
        </div>
        <div class="col-md-4"></div>
    </div>
</script>