<script id="template-autocomplete-cerveja" type="text/x-handlebars-template">
	<div class="bw-tabela-item">
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--foto">
			<img th:src="@{/fotos/download/thumbnail.{{foto}}}" class="img-responsive" />
		</div>
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
			<span class="bw-tabela-cerveja-nome">{{nome}}</span>
			<span class="label  label-default">{{sku}}</span>
			<span class="bw-tabela-cerveja-origem">{{origem}}</span>
		</div>
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
			<div class="bw-tabela-cerveja-valor-medio">R$ {{valor}}</div>
		</div>
	</div>
</script>