<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:brewer="http://brewer.algaworks.com">

<head>
    <title>Cadastro de cidade</title>
</head>

<section layout:fragment="conteudo">

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Cadastro de cidade</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/cidades}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="POST" th:object="${cidade}" th:action="@{/cidades/nova}">

            <brewer:messages/>

            <div class="row">
                <div class="form-group  col-sm-4  bw-required" brewer:classforerror="estado">
                    <label for="estado" class="control-label">Estado</label>
                    <select id="estado" class="form-control" th:field="*{estado}">
                        <option value="">Selecione o estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">São Paulo</option>
                    </select>
                </div>

                <div class="form-group  col-sm-8  bw-required" brewer:classforerror="nome">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Salvar</button>
        </form>
    </div>
</section>

</html>