<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<body>

    <nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand  hidden-xs" href="#">
                    <img alt="AlgaWorks" th:src="@{/images/logo.png}"/>
                </a>

                <ul class="nav  navbar-nav">
                    <li>
                        <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
                    </li>
                </ul>
            </div>

            <ul class="nav navbar-nav  navbar-right">
                <li>
                    <p class="navbar-text" th:text="${#authentication.principal.usuario.nome}">Usuário</p>
                </li>

                <li>
                    <a th:href="@{/logout}"><em class="fa  fa-sign-out"></em></a>
                </li>
            </ul>

        </div>
    </nav>

</body>