<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:brewer="http://brewer.algaworks.com"
      xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
    <title>Pesquisa de vendas</title>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de vendas</h1>
                </div>

                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a class="btn  btn-default" th:href="@{/vendas/nova}">
                            <i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova venda</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <form method="GET" th:object="${vendaFilter}" th:action="@{/vendas}">
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="codigo">Código</label>
                    <input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
                </div>

                <div class="form-group  col-sm-6">
                    <label for="status" class="control-label">Status</label>
                    <select id="status" class="form-control" th:field="*{status}">
                        <option value="">Todos os status</option>
                        <option th:each="status : ${todosStatus}" th:value="${status}" th:text="${status.descricao}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label for="dataCriacaoInicial">Data de criação</label>
                    <div class="form-inline">
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoInicial"
                               th:field="*{desde}" autocomplete="off"/>
                        <label for="dataCriacaoFinal" class="aw-form-label-between">até</label>
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-date" id="dataCriacaoFinal"
                               th:field="*{ate}" autocomplete="off"/>
                    </div>
                </div>

                <div class="form-group  col-sm-6">
                    <label for="valorMinimo">Valor total</label>
                    <div class="form-inline">
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorMinimo" th:field="*{valorMinimo}"/>
                        <label for="valorMaximo" class="aw-form-label-between">até</label>
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorMaximo" th:field="*{valorMaximo}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="nomeCliente">Nome cliente</label>
                    <input type="text" class="form-control" id="nomeCliente" th:field="*{nomeCliente}"/>
                </div>

                <div class="form-group  col-sm-6">
                    <label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
                    <input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpjCliente}"/>
                </div>

            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>

        <div class="table-responsive  bw-tabela-simples">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>
                        <brewer:order page="${pagina}" field="c.nome" text="Cliente"/>
                    </th>
                    <th>Data de criação</th>
                    <th>Valor total</th>
                    <th>Vendedor</th>
                    <th>Status</th>
                    <th class="table-col-acoes"></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="venda : ${pagina.content}">
                    <td th:text="${venda.codigo}"></td>
                    <td th:text="${venda.cliente.nome}"></td>
                    <td th:text="${{venda.dataCriacao}}"></td>
                    <td th:text="|R$ ${{venda.valorTotal}}|"></td>
                    <td th:text="${venda.usuario.nome}"></td>
                    <td th:text="${venda.status.descricao}"></td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" href="#">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>

                <tr th:if="${pagina.empty}">
                    <td colspan="7">Nenhuma venda encontrada</td>
                </tr>
                </tbody>
            </table>
        </div>

        <brewer:pagination page="${pagina}"/>
    </div>
</section>

</body>
</html>