<!DOCTYPE html>
<html xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">

    <div class="bw-tabela-item js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
        <div class="bw-tabela-item__coluna  bw-tabela-item__coluna--foto">
            <img th:src="@{/fotos/download/thumbnail.{foto}(foto=${item.cerveja.fotoOuMock})}" class="img-responsive"/>
        </div>

        <div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
            <span class="bw-tabela-cerveja-nome" th:text="${item.cerveja.nome}">Negra Modelo Long Neck 355ml</span>
            <span class="label  label-default" th:text="${item.cerveja.sku}">AA1112</span>
            <span class="bw-tabela-cerveja-origem" th:text="${item.cerveja.origem.descricao}">Importada</span>
        </div>

        <div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
            <div class="bw-tabela-cerveja-valor-pequeno">
                <input type="text" maxlength="3" 
                 class="bw-tabela-cerveja-campo-quantidade js-tabela-cerveja-quantidade-item" 
                 data:codigo-cerveja="${item.cerveja.codigo}" th:value="${item.quantidade}"/>
                <span>x R$ [[${item.valorUnitario}]]</span>
            </div>
            <div class="bw-tabela-cerveja-valor-grande">[[${item.valorTotal}]]</div>
        </div>

        <div class="bw-tabela-item__painel-exclusao">
            <span class="bw-tabela-item__titulo-exclusao">Excluir este item da venda?</span>
            <button type="button" class="btn  btn-danger js-item-exclusao-btn"
                    data:codigo-cerveja="${item.cerveja.codigo}" >Sim, excluir!</button>
        </div>
    </div>

    <div class="bw-tabela-cervejas__vazio" th:if="${itens?.empty}">
        <i class="glyphicon  glyphicon-shopping-cart"></i>
        <span>Você ainda não adicionou nenhuma cerveja.</span>
    </div>
</html>